*{
    margin: 0;
}
body{
    text-decoration: none;
}
.navbar-1{
  background-color: transparent;
  color: white;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.navbar-1 li{
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  list-style-type: none;
}

.navbar-2{
    background-color: transparent;
    color: white;
    float: right;
    font-size: 20px;
    color: white;
    margin: 15px;
} 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
    padding: 10px;
    padding-top: 0px;
  }
  li:hover{
     color:  rgb(147, 161, 161);
     cursor: pointer;
  }
 
.nav{
  width: 400px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px white;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.container-1
{
    background-color: rgb(110, 90, 224);
    text-align: center;
    padding: 70px;
    color: white;
    
}
.text{
  margin-top: 60px;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
   .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn{
    background-color: transparent;
    border-radius: 18px;
    margin: 30px;
    color: white;
    border-color: white;
    padding: 10px;
    width: 100px;
  }
  .btn:hover{
    color: rgb(11, 5, 14);
    /* background-color: rgba(127, 85, 226, 0.884); */
    background-color: aliceblue;
    cursor: pointer;
    opacity: 0.4;
  }
.container-2{
    padding-top: 70px;
    padding-bottom: 80px;
    margin: 10px;
}
h2{
    text-align: center;
}
.row{
  float: inline-block;
  margin-top: 10px;
  display: inline;
  max-width: 90px;
}
 .container-2 .column {
    width: 20.32%;
   padding: 17px;
   height: 220px; 
   margin: 15px;
   max-width: fit-content;
  /* background-color: rgb(83, 126, 126); */
   background-color: rgb(110, 90, 224);
    border-radius: 7px;
    border-color: rgba(60, 32, 77, 0.973);
    cursor: pointer;
    align-items: center;
    flex-flow: column; 
    text-align: center;
    box-shadow: 3px 3px  rgba(183, 155, 199, 0.842);
  }
  .container-2 .column:hover{
    opacity: 0.4;

  }
  h1{
    text-align: center;
  }
  .container-2 .image-1{
    background-color: transparent;
    width: 70px;
  }
  .container-3{
    background-color: rgb(110, 90, 224);
    padding: 29px;
    text-align: center;
  } 

h4{
  text-align: center;
  padding: 20px;
}
